* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #98b1c4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

.screen {
  text-align: right;
  color: #fff;
  padding: 20px 5px;
}

.container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);

  width: 350px;
  max-width: 100%;
  background-color: #000;
}

.calc-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 4px;
}

.cal-button {
  background-color: #d8d8d8;
  color: #000;
  padding: 1rem;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  font-size: 40px;
  border-radius: 0;
  width: 24.5%;
}

.cal-button:hover {
  background-color: antiquewhite;
  color: #222;
}

.cal-button:active {
  background-color: #bbbcbe;
}

.cal-button:last-child {
  background-color: orange;
  color: #fff;
}

.cal-button:last-child:hover {
  background-color: #dfb07e;
}

.cal-button:last-child:active {
  background-color: #dd8d37;
}

.double {
  width: 49.7%;
}

.tripple {
  width: 74.5%;
}
